# Serie Pandas

Le Serie di Pandas sono simili alle Liste di Python. Sono array monodimensionali di oggetti, in cui ogni riga ha un indice che, di default, parte da 0.

In [17]:
import pandas as pd

## Creazione di una Serie

In [18]:
locations = pd.Series(["Roma","Milano","Napoli","Torino","Ancona","Cuneo"])

In [19]:
locations.head()

0      Roma
1    Milano
2    Napoli
3    Torino
4    Ancona
dtype: object

## Accesso all'elemento di una Serie

In [20]:
locations[2]

'Napoli'

## Stampa di tutti gli elementi di una serie

In [21]:
for value in locations:
    print(value)

Roma
Milano
Napoli
Torino
Ancona
Cuneo

In [22]:
lenght = len(locations)
for i in range(0,lenght):
    print(locations[i])

Roma
Milano
Napoli
Torino
Ancona
Cuneo

In [23]:
lenght = len(locations)
i = 0
while i < lenght:
    print(locations[i])
    i += 1

Roma
Milano
Napoli
Torino
Ancona
Cuneo

In [24]:
def print_serie(serie):
    for value in serie:
        print(value)

## Aggiunta di una valore ad una serie

In [25]:
locations[6] = "Firenze"
print(locations)

0       Roma
1     Milano
2     Napoli
3     Torino
4     Ancona
5      Cuneo
6    Firenze
dtype: object

In [26]:
locations = pd.concat([locations, pd.Series(['Monopoli'])]) # senza aggiornamento dell'indice
print(locations)

0        Roma
1      Milano
2      Napoli
3      Torino
4      Ancona
5       Cuneo
6     Firenze
0    Monopoli
dtype: object

In [27]:
locations = pd.concat([locations, pd.Series(['Olbia'])], ignore_index=True) # con aggiornamento dell'indice
print(locations)

0        Roma
1      Milano
2      Napoli
3      Torino
4      Ancona
5       Cuneo
6     Firenze
7    Monopoli
8       Olbia
dtype: object

## Cambiare il valore di un elemento della Serie

In [28]:
print("Prima del cambiamento")
print(locations)
print('\n')
locations[2] = "Venezia"
print("Dopo il cambiamento")
print(locations)

Prima del cambiamento
0        Roma
1      Milano
2      Napoli
3      Torino
4      Ancona
5       Cuneo
6     Firenze
7    Monopoli
8       Olbia
dtype: object


Dopo il cambiamento
0        Roma
1      Milano
2     Venezia
3      Torino
4      Ancona
5       Cuneo
6     Firenze
7    Monopoli
8       Olbia
dtype: object

## Copia di una serie

In [29]:
new_locations = locations.copy()
print(new_locations)

0        Roma
1      Milano
2     Venezia
3      Torino
4      Ancona
5       Cuneo
6     Firenze
7    Monopoli
8       Olbia
dtype: object

## Concatenamento di due Serie

In [31]:
serie1 = pd.Series(['a','b','c'])
serie2 = pd.Series(['d','e','f'])
serie_concat = pd.concat([serie1,serie2])
print(serie_concat)

0    a
1    b
2    c
0    d
1    e
2    f
dtype: object

## Reset degli indici di una Serie

In [32]:
serie_concat = serie_concat.reset_index(drop=True)
print(serie_concat)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object